*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --kaki:#665d1b;
}

body,html{
    width: 100vw;
    min-height: 100vh;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

header{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header .top{
    width: 100%;
}

header .top img{
    width: 18%;
    border-radius: 15px;
}

header .bottom{
    width: 100%;
    height: 200px;
    background-image: url(../images/banniere.jpg);
    background-position: center;
    background-size: cover;
}

.container > *:not(.title){
    border: 2px solid purple;
    padding: 4px;
    width: 80%;
    border-radius: 15px;
}

.title{
    width: 80%;
}

header > *{
    border: 2px solid green;
    padding: 2px;
    border-radius: 15px;
}

.title h1{
    color: var(--kaki);
    font-size: 2rem;
    text-align: center;
    animation: change 4s linear infinite;
}

.title{
    margin-top: 30px;
    margin-bottom: 85px;
}

.equipe{
    margin-bottom: 85px;
}

.equipe h2,.competences h2{
    color: #665d1b;
    font-size: 1.35rem;
    margin: 15px 0;
}

.equipe .list{
    border: 2px solid green;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.equipe img{
    width: 100%;
}

.equipe .profile{
    width: 30%;
    margin: 0 15px;
    border: 1px solid red;
    padding: 2px;
}

.profile p{
    padding: 2px;
    border: 1px solid blue;
}

.competences h2{
    border: 2px solid green;
}

.competences .list{
    border: 2px solid green;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.competences .skill{
    width: 100%;
    border: 1px solid red;
}

.competences img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.skill > *{
    border: 1px solid blue;
    text-align: center;
}

.skill h3{
    padding: 40px 20px;
    height: 100px;
}

.skill{
    display: flex;
}

.skill:nth-child(2n+1){
    flex-direction: column;
}
.skill:nth-child(2n){
    flex-direction: column-reverse;
}

footer{
    background-color: #665d1b;
    color: white;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

footer .field{
    border: 1px solid red;
    padding: 10px;
    border-radius: 15px;
}

@media screen and (max-width:1024px) and (min-width:390px) {
    *{
        transition: all 0.5s ease;
    }

    .equipe .profile{
        width: 50%;
        margin: 0;
    }

    .equipe{
        min-width: 800px;
    }

    .competences .list{
        flex-direction: column;
    }

    .skill{
        height: 100% !important;
    }

    .skill:nth-child(2n+1){
        flex-direction: row;
    }
    .skill:nth-child(2n){
        flex-direction: row-reverse;
    }

    .skill img{
        height: 100px !important;
        width: 50% !important;
    }

    .skill h3{
        width: 50%;
    }
}

@media screen and (max-width:390px) {
    *{
        transition: all 0.5s ease;
    }

    header .top img{
        width: 50% !important;
    }

    .equipe .list{
        flex-direction: column;
        padding: 30px;
    }

    .profile{
        width: 100% !important;
    }

    .equipe{
        width: 100%;
        padding: 30px;
    }

    .competences .list{
        flex-direction: column;
    }

    .skill{
        flex-direction: column-reverse !important;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.6rem;
    }

    footer > div{
        width: 150px !important;
        text-align: center;
    }
}

.w3{
    animation: rotate 0.8s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes change {
    0%,100%{
        color: #665d1b;
        background-color: transparent;
    }
    25%{
        color: red;
        background-color: cyan;
    }
    50%{
        color: green;
        background-color: purple;
    }
    75%{
        color: yellow;
        background-color: navy;
    }
}